body{

background-color: hsl(212, 45%, 89%);
margin: 0;
padding: 0;

}


.continer{

position: absolute;

background-color: sl(212, 45%, 89%);
width: 100%;
height: 100%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}


.scheda{

background-color: hsl(0, 0%, 100%);
display: flex;
flex-direction: column;
align-items: center;

overflow: hidden;
width: min-content;
height: 65%;
border-radius: 25px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.scheda > img{

width: auto;
height: 60%;
border-radius: 10px;
margin-top: 15px;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 5px;


}


.scheda > p{

    background-color: transparent;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
.p1{

    margin-top: 15px;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 5px;

font-size: 100%;
font-weight: 700;
color: hsl(218, 44%, 22%);

}
.p2{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
font-size: 80%;
font-weight: 400;
color: hsl(220, 15%, 55%);

}
